.App {
	background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/04/12/330551/185c99304364bba58fe8bfe3765fcf64.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
